<div class="center hero-unit">
	<h1>Akita Thermostat</h1>
	<img src="images/logo.jpg" height="250" /><br><br>
  	<h2>Pagina En Construccion</h2>
</div>

<% if user_signed_in? %>
	<p style="text-align:right"> Welcome <%= current_user.username %></p>
	<p style="text-align:right"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
<% else %>
	<p style="text-align:right"><%= link_to "New Account", new_user_registration_path %></p>
	<p style="text-align:right"><%=  link_to "Login" , new_user_session_path %> </p>
<% end %>
