<%= flash_notifications -%>
  <% if user_signed_in?%>
    <%if current_user.enable == true%>
      <p style="text-align:right"> Bienvenido <%= current_user.username.capitalize %></p>
    <%else%>
      <p style="text-align:right"> Usted se encuentra bloqueado</p>
    <%end%>
  <% end %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
                 
    <div class="item active">
      <center><img src="images/image_1.jpg" height=600 width=900 alt="1" class="img-rounded"> </center> 
      <div class="carousel-caption">
        <h3>PRESENTACION</h3>
        <p>Tenga el control del ambiente de su casa con nuestra aplicacion.</p>
      </div>
    </div>
    <div class="item">
      <center><img src="images/image_2.jpg" height=600 width=900 alt="2" class="img-rounded"></center>        
      <div class="carousel-caption">
        <div class="bs-callout bs-callout-info">
        <h3>INSTALACION</h3>
        <p>Asocie el termostato a la aplicacion para facil manejo y adaptado a sus horarios y estilo de vida.</p>
        </div>
      </div>
    </div>
    <div class="item">      
        <center><img src="images/image_3.jpg" height=600 width=900 alt="3" class="img-rounded"></center>        
        <div class="carousel-caption">
            <h3>USO</h3>
            <p>Ya sea en casa o fuera de ella, controle el ambiente que desee cuando y como usted quiera.</p>
        </div>
    </div>
    <div class="item">      
        <center><img src="images/image_4.jpg" height=600 width=900 alt="4" class="img-rounded"></center>        
        <div class="carousel-caption">
          <h3>GESTION</h3>
          <p>Controle y supervise de forma remota la temperatura mediante su dispositivo movil.</p>
        </div>
    </div>
    <div class="item">      
        <center><img src="images/image_5.jpg" height=600 width=900 alt="5" class="img-rounded"></center>        
        <div class="carousel-caption">
          <h3>MULTIZONA</h3>
          <p>Tenga el control de su casa aun cuando este de vacaciones.</p>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
