<h1>Clima Local </h1>
<strong>Ubicacion: </strong> Cochabamba, Bolivia <br/>
<strong>Descripción: </strong> <%= @description %> <br/>
<strong>Humedad: </strong> <%= @hum %> <br/>
<strong>Temperatura Maxima: </strong> <%= @tempMax-273 %> C<br/>
<strong>Temperatura Minima: </strong> <%= @tempMin-273 %> C<br/>
