<h1>Clima Local </h1>
<strong>Ubicacion: </strong> Cochabamba, Bolivia <br/>
<strong>Descripción: </strong> <%= @description %> <br/>
<strong>Humedad: </strong> <%= @hum %> <br/>
<strong>Temperatura Maxima: </strong> <%= @tempMax/10 %> <br/>
<strong>Temperatura Minima: </strong> <%= @tempMin/10 %> <br/>
