<table class="table table-striped">
<tr>
	<th width=200>Dia de la semana:</th>
	<th width=200>Max temperatura:</th>
	<th width=200>Min temperatura:</th>
	<th width=200>Franja:</th>
</tr>
<% @planners.each do |planner|%>
<tr>
	<td align="Center"> <%= planner.week_day %> </td>
	<td align="Center"> <%= planner.max_temperature %> </td>
	<td align="Center"> <%= planner.min_temperature %> </td>
	<td align="Center"> <%= planner.schedule %> </td>
</tr>

<% end %>
</table>