<%= form_validated_for(@thermostat) do |f| %>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial,:maxlength => '10' %>
  </div>
  <div class="actions">
    <%= f.submit "Siguiente" %>
  </div>
<% end %>
