<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado el link para cambiar su contraseña. Puede hacerlo a través del siguiente link:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitó esto, por favor ignore este correo.</p>
<p>Su contraseña no se cambiará hasta que ingrese al link y cree uno nuevo.</p>
