
<% if user_signed_in? %>
	<p style="text-align:right"> Bienvenido <%= current_user.username.capitalize %></p>
<% end %>
<div class="center hero-unit">
	<h1>Akita Thermostat</h1>
	<img src="images/logo.jpg" height="250" /><br><br>  	
</div>


