<footer class="footer">
  <nav>
  	<ul class="nav pull-left">
      <p> &reg; 2014. Taller de Programacion </p>
  		<a href="https://www.facebook.com/"><img src="/images/facebook.png" width="30" /></a> |
  		<a href="https://www.twitter.com/"><img src="/images/twitter.png" width="30" /></a>
  	</ul>
  	
    <ul>
      <li><%= link_to "Acerca de", 'about' %></li>
      <li><%= link_to "Contactos", 'contact' %></li>
      <li><%= link_to "Ayuda", 'help' %></li>
    </ul>
  </nav>
</footer>