<footer class="panel-footer navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <center>
      <div class="col-xs-6">
        <h4>Siguenos:</h4>
        <a href="https://www.facebook.com/profile.php?id=100004870545634"><img src="/images/facebook.png" width="30" /></a> |
        <a href="https://www.twitter.com/"><img src="/images/twitter.png" width="30" /></a>
      </div>    
      <div class="col-xs-6">
          <li><%= link_to "Acerca de", 'about' %></li>
          <li><%= link_to "Contactos", 'contact' %></li>
          <li><%= link_to "Ayuda", 'help' %></li>
      </div>
      </center>     
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <center>Taller de Programacion - © 2014</center>
      </div>
    </div>
  </div>
</footer>