<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Acerca de", 'about' %></li>
      <li><%= link_to "Contactos", 'contact' %></li>
      <li><%= link_to "Ayuda", 'help' %></li>
    </ul>
  </nav>
</footer>