<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Akita Thermostat", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", '#' %></li>
          <li><%= link_to "Admininistrativa", '#' %></li>
          <li><%= link_to "Reportes", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>